<%= form_for(@customer) do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

    <div class="field">
      <%= f.label :name_confirmation %><br />
      <%= f.text_field :name_confirmation %>
    </div>
  <div class="field">
    <%= f.label :age %><br />
    <%= f.number_field :age %>
  </div>
    <div class="field">
      <%= f.label :terms_of_service %><br />
      <%= f.check_box :terms_of_service %>
    </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= content_tag :div, "Hello", class: name %>