<h1>Listing order_items</h1>

<table>
  <tr>
    <th>Order</th>
    <th>Customer</th>
    <th>Item name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @order_items.each do |order_item| %>
  <tr>
    <td><%= order_item.order_id %></td>
    <td><%= order_item.customer_id %></td>
    <td><%= order_item.item_name %></td>
    <td><%= link_to 'Show', order_item %></td>
    <td><%= link_to 'Edit', edit_order_item_path(order_item) %></td>
    <td><%= link_to 'Destroy', order_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Order item', new_order_item_path %>
