<p id="notice"><%= notice %></p>

<p>
  <b>Order:</b>
  <%= @order_item.order_id %>
</p>

<p>
  <b>Customer:</b>
  <%= @order_item.customer_id %>
</p>

<p>
  <b>Item name:</b>
  <%= @order_item.item_name %>
</p>


<%= link_to 'Edit', edit_order_item_path(@order_item) %> |
<%= link_to 'Back', order_items_path %>
